// .carousel-home {
//     // height: 1000px;
//     // height: 50vh !important;
//     // width: 50% !important;
// }
.carousel.carousel-slider .control-arrow{
    // height: 50vh !important;
    padding: 30px;
    // overflow: hidden;
}

.carousel.carousel-slider {
    // height: auto;
    width: 100%;
    height: 76vh;
    // height: 76vh;
    // width: 99vw;
    // height: 780px;
}

.carousel-img{
    // height: 76vh !important;
    // width: 100% !important;
    width: 100%;
    // height: auto;
    height: 76vh;
    // width: 100%;
    // height: auto !important;
    // height: 50% ;
}

div.ant-image.carousel-img > img{
    width: 100%;
    height: 76vh;
}

.carousel-div-img {

}

// .carousel li.slide {
//     height: 100% !important;
// }