@import '~antd/dist/antd.css';


.layout-basic{
    transition: margin-left 0.2s;

    &__header{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 50;
        height: 64px;
       background: rgb(233, 124, 61);
        // background:#FFF6A4;
        // background-image:linear-gradient(#FF0000, #FFF6A4);
    }

    &__header-brown{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        padding: 0;
        height: 75px;
        padding: 0px 50px 0px 50px;
        background: rgba(251, 206, 72, 1);
    }

    &__content{
        // z-index: 0;
        min-height: calc(100vh - 75px);
        padding: 75px 0px 0px 0px;
        background: #f8f4f0;
    }
    &__footer{
        background: rgb(233, 124, 61);
        color: rgb(236, 232, 220);
        padding: 7px;
    }
}

.header {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
    justify-content: end;
     width: 100%;
    &-button {
    /*  margin-left: 1150px;*/
      background: #ad4e00;
      margin-right: 5px;
    }
  
  }

// .ant-btn-primary {
//     background-color: #ad4e00 !important;
//     border-color: #ad4e00 !important;
// }

// .ant-btn-primary:hover {
//     background-color: red !important;
//     border-color: red !important;
// }
